# Tuples

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

- Ordered
- Unchangeble
- Allows duplicate

### Plan of attack

- Creating a Tuple
- Accessing items 
- Editing items
- Deleting items
- Operations on Tuples
- Tuple Functions

In [1]:
# empty tuple
t1 = ()
print(t1)

()

In [5]:
# create a tuple with a single item
t2 = ('hello',)
print(t2)

('hello',)

In [34]:
# homogeneous
t3 = (1,2,3,4)
print(t3)

(1, 2, 3, 4)

In [7]:
# hetrogeneous
t4 = (1,2,3,True,[1,2,3])
print(t4)

(1, 2, 3, True, [1, 2, 3])

In [8]:
# tuple within tuple
t5 = (1,2,3,(4,5,6))
print(t5)

(1, 2, 3, (4, 5, 6))

In [9]:
# using type conversion
t6 = tuple('hello')
print(t6)

('h', 'e', 'l', 'l', 'o')

### Accessing items

In [10]:
# indexing
# slicing

In [12]:
print(t3)
print(t3[0])
print(t3[-1])

(1, 2, 3, 4)
1
4

In [13]:
# slicing
print(t3)
print(t3[0:4:2])

(1, 2, 3, 4)
(1, 3)

In [40]:
t = (1,2,3,4,5,6)
print(t)
print(t[-1::-1])

(1, 2, 3, 4, 5, 6)
(6, 5, 4, 3, 2, 1)

In [35]:
print(t3)
print(t3[-1])

(1, 2, 3, 4)
4

In [18]:
print(t5)
print(t5[3][0])

(1, 2, 3, (4, 5, 6))
4

In [19]:
print(t5)
print(t5[-1][0])

(1, 2, 3, (4, 5, 6))
4

In [26]:
# Editing item not possible
print(t3)
t3[0] = 100

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

In [29]:
# Deleting items
# it delete whole data when apply

In [41]:
print(t3)
del t3
print(t3)

(1, 2, 3, 4)

NameError: name 't3' is not defined

### Operations on tuple

In [49]:
# '+' and '*'
t1 = (1,2,3,4)
t2 = (5,6,7,8)

# '+'
print(t1 + t2)

# '*'
print(t1*3)

# membership
print(1 in t1)

# iteration
for i in t1:
    print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
True
1
2
3
4

### Tuple function

In [53]:
# len/sum/mim/max/sorted
t = (1,2,3,4,5)
print(len(t))
print(sum(t))
print(min(t))
print(max(t))
print(sorted(t,reverse = True))

5
15
1
5
[5, 4, 3, 2, 1]

In [55]:
# count
t = (1,2,3,4,5)
t.count(2)

1

In [56]:
# count
t = (1,2,3,4,5)
t.count(20)

0

In [57]:
# index
t.index(3)

2

### Difference between Lists and Tuples

- Syntax
- Mutability
- Speed
- Memory
- Built in functionality
- Error prone
- Usability

In [66]:
import time 

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

List time 23.221110582351685
Tuple time 24.36655282974243

In [67]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

In [68]:
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [69]:
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

# why use tuple

### special syntax

In [70]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [71]:
a = 1
b = 2
a,b = b,a
print(a,b)

2 1

In [72]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [73]:
# zipping tuples
a = (1,2,3,4)
b = (5,6,7,8)
zip(a,b)

In [74]:
list(zip(a,b))

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [75]:
tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

In [76]:
a = (1,2,3,4)
b = (5,6,7,8)
c = (9,10,11,12)
zip(a,b,c)

In [77]:
tuple(zip(a,b,c))

((1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12))

# Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

### creating sets

In [79]:
# empty set
s = set()
print(s)

set()

In [81]:
# 1D & 2D set(2d set not possible)
s1 = {1,2,3}
print(s1)

s2 = {1,2,3,{4,5,6}}
print(s2)

{1, 2, 3}

TypeError: unhashable type: 'set'

In [83]:
# homogeneous
s3 = {1,'hello',4.5,True}
print(s3)

{1, 4.5, 'hello'}

In [84]:
# using type conversion
s4 = set([1,2,3,4])
print(type(s4))

<class 'set'>

In [85]:
# duplicates not allowed
s5 = {1,2,3,2,1,4,3,5}
print(s5)

{1, 2, 3, 4, 5}

In [86]:
# set can't have mutable items
s6 = {1,2,[3,4]}
print(s6)

TypeError: unhashable type: 'list'

In [88]:
# unordered
s1 = {1,2,3}
s2 = {3,2,1}
print(s1 == s2)

True

### Accessing items

In [89]:
s1 = {1,2,3,4}
# accessing items doesn't allowed

In [90]:
s1 = {1,2,3,4}
# editing items doesn't allowed

### Adding items

In [93]:
s = {1,2,3,4}
print(s)
# adding add only one items at the end
s.add(5)
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}

In [95]:
# update(add multiple items)
s = {1,2,3,4}
print(s)
s.update([5,6,7])
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}

### deleting items

In [110]:
# del( we can delete whole set not a specific data
s = {1,2,3,4,5}
print(s)
del s
print(s)

{1, 2, 3, 4, 5}

NameError: name 's' is not defined

In [107]:
# discard(it helps to delete a specific data)
s = {1,2,3,4,5}
print(s)
s.discard(5)
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4}

In [108]:
# remove
s = {1,2,3,4,5}
print(s)
s.remove(4)
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}

In [109]:
# pop (delete any item rendomely)
s = {1,2,3,4,5}
print(s)
s.pop()

{1, 2, 3, 4, 5}

1

In [112]:
# clear(clear all the data from set)
s = {1,2,3,4,5}
print(s)
s.clear()
print(s)

{1, 2, 3, 4, 5}
set()

### set operation

In [113]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# unicode(|)
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [115]:
# intersection(&)
s1& s2

{4, 5}

In [117]:
# difference(-)
s1 - s2

{1, 2, 3}

In [119]:
s2 - s1

{6, 7, 8}

In [118]:
# symnetric defference(^)
s1 ^ s2

{1, 2, 3, 6, 7, 8}

In [120]:
# membership test
1 in s1

True

In [121]:
1 in s2

False

In [122]:
# iteration
for i in s1:
    print(i)

1
2
3
4
5

In [132]:
# len/sum/min/max/sorted
s1 = {3,1,4,5,2,7}
print(len(s1))
print(sum(s1))
print(min(s1))
print(max(s1))
print(sorted(s1))
# for reverse sorted use 'reverse = True'
sorted(s1,reverse=True)

6
22
1
7
[1, 2, 3, 4, 5, 7]

[7, 5, 4, 3, 2, 1]

In [133]:
# union / update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.union(s1)

{1, 2, 3, 4, 5}

In [134]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [136]:
# intersection/intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection(s2)

s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [137]:
# difference / difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference(s2)

s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [138]:
# symmetric_difference / symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [139]:
# isdisjoint/issubset/issuperset
s1 = {1,2,3,4}
s2  = {3,4,5,6}

s1.isdisjoint(s2)

False

In [140]:
s1 = {1,2,3,4}
s2  = {5,6,7,8}

s1.isdisjoint(s2)

True

In [141]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s2.issubset(s1)

True

In [142]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s1.issubset(s2)

False

In [144]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s2.issuperset(s1)

False

In [145]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s1.issuperset(s2)

True

In [147]:
# copy
s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(s2)
print(id(s1))
print(id(s2))

{1, 2, 3}
{1, 2, 3}
2278078655616
2278078655840

### Frozenset
Frozen set is just an immutable version of a Python set object

In [148]:
# create frozenset
fs = frozenset([1,2,3])
fs

frozenset({1, 2, 3})

In [151]:
# what works and what does not
# :- works -> all read functions
# :- does't work -> write operations

In [152]:
# when to use 
# 2D frozen sets are possible
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

### set comprehension

In [154]:
# example

{i for i in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [155]:
{i for i in range(1,11) if i>5}

{6, 7, 8, 9, 10}

# Dictionary

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'parinav' , 'age' : 20 , 'gender' : 'male' }

Characterstics:

- Mutable
- Indexing has no meaning
- keys can't be duplicated
- keys can't be mutable items

### create dictionary

In [157]:
# empty dict
d = {}
d

{}

In [159]:
# 1D dict( it is homogenous)
d1 = {'name':'parinav','gender':'male'}
d1

{'name': 'parinav', 'gender': 'male'}

In [160]:
# with mixed keys
d2 = {(1,2,3):1,'hello':'world'}
d2

{(1, 2, 3): 1, 'hello': 'world'}

In [162]:
# 2D dict -> JSON
s = {
    'name':'parinav',
    'college':'lnct',
    'sex':'male',
    'subject':{
        'python':50,
        'sql':70,
        'time_series':60
    }
}
s

{'name': 'parinav',
 'college': 'lnct',
 'sex': 'male',
 'subject': {'python': 50, 'sql': 70, 'time_series': 60}}

In [163]:
# using sequence and dict function
d4 = dict([(1,1),(2,2),(3,3),(4,4)])
d4

{1: 1, 2: 2, 3: 3, 4: 4}

In [166]:
# duplicate keys(not allowed)
d5 = {'name':'parinav','name':'rupesh'}
d5

{'name': 'rupesh'}

In [167]:
# mutable items as keys
d6 = {'name':'parinav',[1,2,3]:2}

TypeError: unhashable type: 'list'

In [170]:
d6 = {'name':'parinav',(1,2,3):2}
d6

{'name': 'parinav', (1, 2, 3): 2}

### Accessing items

In [171]:
my_dict = {'name':'parinav','age':'20'}
# []
# get
my_dict['name']

'parinav'

In [172]:
my_dict.get('age')

'20'

### Adding key-value pair

In [183]:
d7 = {'name':'parinav','age':20}
print(d7)
d7['gender'] = 'male'
print(d7)
d7['weight'] = '60kg'
d7

{'name': 'parinav', 'age': 20}
{'name': 'parinav', 'age': 20, 'gender': 'male'}

{'name': 'parinav', 'age': 20, 'gender': 'male', 'weight': '60kg'}

### Remove key-value pair

In [191]:
# pop
d8 = {'name': 'parinav', 'age': 20, 'gender': 'male', 'weight': '60kg'}
print(d8)


d8.pop('age')
print(d8)

{'name': 'parinav', 'age': 20, 'gender': 'male', 'weight': '60kg'}
{'name': 'parinav', 'gender': 'male', 'weight': '60kg'}

In [192]:
# popitems(delete last key-pair)
d8.popitem()
print(d8)

{'name': 'parinav', 'gender': 'male'}

In [193]:
# del
del d8['name']
print(d8)

{'gender': 'male'}

In [194]:
# clear
d8.clear()
print(d8)

{}

In [196]:
# fetching/accessing
s

{'name': 'parinav',
 'college': 'lnct',
 'sex': 'male',
 'subject': {'python': 50, 'sql': 70, 'time_series': 60}}

In [197]:
s['subject']['sql']

70

### Adding key-value pair

In [202]:
s['subject']['finance'] = 77
print(s)
s['sem'] = '5th'
s

{'name': 'parinav', 'college': 'lnct', 'sex': 'male', 'subject': {'python': 50, 'sql': 70, 'time_series': 60, 'finance': 77}, 'sem': '5th'}

{'name': 'parinav',
 'college': 'lnct',
 'sex': 'male',
 'subject': {'python': 50, 'sql': 70, 'time_series': 60, 'finance': 77},
 'sem': '5th'}

### Editing key-value pair

In [204]:
s['sem'] = '6th'
s

{'name': 'parinav',
 'college': 'lnct',
 'sex': 'male',
 'subject': {'python': 50, 'sql': 70, 'time_series': 60, 'finance': 77},
 'sem': '6th'}

In [206]:
s['subject']['python'] = 80
s

{'name': 'parinav',
 'college': 'lnct',
 'sex': 'male',
 'subject': {'python': 80, 'sql': 70, 'time_series': 60, 'finance': 77},
 'sem': '6th'}

### dictionary operations

In [207]:
# membership
# iteration

In [209]:
print(s)
# to check membership give key as input not values
'sex' in s

{'name': 'parinav', 'college': 'lnct', 'sex': 'male', 'subject': {'python': 80, 'sql': 70, 'time_series': 60, 'finance': 77}, 'sem': '6th'}

True

In [216]:
d = {'name':'parinav','gender':'male','age':'19'}

for i in d: # for getting key 
    print(i)
print(20*'*')   
for i in d:
    print(i,d[i])

name
gender
age
********************
name parinav
gender male
age 19

### dict functions

In [221]:
# len / sorted/ min / max
print(d)
print(len(d))
print(sorted(d))
print(sorted(d,reverse = True))
print(min(d))
print(max(d))

{'name': 'parinav', 'gender': 'male', 'age': '19'}
3
['age', 'gender', 'name']
['name', 'gender', 'age']
age
name

In [223]:
# items/keys/values
print(d)
print(d.items()) # it displays data into tuple form
print(d.keys()) 
print(d.values())

{'name': 'parinav', 'gender': 'male', 'age': '19'}
dict_items([('name', 'parinav'), ('gender', 'male'), ('age', '19')])
dict_keys(['name', 'gender', 'age'])
dict_values(['parinav', 'male', '19'])

In [227]:
# update
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:3}

print(d1.update(d2))
print(d1)

None
{1: 2, 3: 4, 4: 7, 6: 3}

### Dictionary Comprehension
![image.png]()

In [228]:
# print 1st 10 number and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [229]:
# using existing dict
distances = {'delhi':1000,'mumbai':2000,'banglore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('banglore', 3000)])

In [231]:
distances = {'delhi':1000,'mumbai':2000,'banglore':3000}
{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'banglore': 1860.0}

In [232]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [236]:
# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}
{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [237]:
# nested comprehension
# print tables of number from 2 to 4

In [238]:
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}